<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hola Clase</title>
    </head>

    <body>
        <h1>ALEJANDRO SALAZAR RENDÓN </h1>
        <div id="fotoperfil" style="text-align: left;">
            <img class="fotoperfil"
                src="/assets/img/fotoperfil.jpg" 
                alt="Fotoperfil"
                width="100px"/>
        </div>


        <div id="infoContacto">
            <h2><u>INFORMACIÓN DE CONTACTO</u></h2>
            <table class="tablaInfo" border="1px solid black">
                <tr>
                    <th><b>Whatsapp:</th>
                    <td align="center">3005410231</td>
                </tr>
                <tr>
                    <th><b>Email:</th>
                    <td align="center">alejandro.salazar8420@gmail.com</td>
                </tr>
                <tr>
                    <th><b>Linkedin:</th>
                    <td align="center"><a href="https://www.linkedin.com/in/alejandrosalazar8420">/alejandrosalazar8420</a></td>
                </tr>
            </table>
            <br>
        </div>

        <div id="ExperiencaLaboral">
            
            <h2><U>EXPERIENCIA LABORAL</U></h2>
            <ul>
                <p>
                    <h3><li>P.O. EQUIPO CANALES DIGITALES</li></h3>
                    <p>&nbsp <b>PROTECCIÓN S.A. (OCT 2020 - ACTUAL)</b></p>
                    <ul>
                        <li>Diseño, desarrollo y soporte para el sistema de IVR de Protección</li>
                        <li>Diseño, desarrollo y soporte de entrenamiento para BOT's en IBM WATSON ASSISTAN</li>
                        <li>Diseño y refinamiento de estrategias para rescate digital de clientes bajo metodologías ágiles.</li>
                    </ul>
                    <br>                
                </p>

                <p>
                    <h3><li>ANALISTA DESARROLLO DE SOLUCIONES DE TI</li></h3>
                    <p>&nbsp <b>KONECTA (JUN 2019 - OCT 2020)</b></p>
                    <ul>
                        <li>Planear, construir e implementar soluciones de software</li>
                        <li>Ajustarse a las necesidades expuestas tanto por el cliente interno  como externo.</li>
                        <li>Mantener las premisas de calidad y oportunidad en la solución entregada.</li>
                    </ul>
                    <br>
                </p>

                <p>
                    <h3><li>ANALISTA CONTROL DE GESTIÓN - WORKFORCE</li></h3>
                    <p>&nbsp <b>KONECTA (OCT 2012 - JUN 2019)</b></p>
                    <ul>
                        <li>Analizar, planear y controlar las variables relacionadas con la planeación de recursos tanto físicos como humanos de los diferentes clientes de Konecta.</li>
                        <li>Alcanzar los acuerdos de servicio pactados con el cliente con el mayor nivel de productividad posible.</li>
                    </ul>
                </p>
            </ul>
            <br>
        </div>

        <div class="infoAcademica">
            <h2><U>HISTORIAL ACADÉMICO</U></h2>
            <ul>
                <p>
                    <h3><li>POLITÉCNICO COLOMBIANO JAIME ISAZA CADAVID</li></h3>
                    <p>&nbsp INGENIERO INFORMÁTICO - 2021</p>                
                </p>
                <p>
                    <h3><li>EAFIT</li></h3>
                    <p>&nbsp DIPLOMADO DESARROLLADOR FRONT Y BACK-END DE SOFTWARE - 2022</p>                
                </p>
            </ul>
            <br>
        </div>

    </body>
</html>